@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, ;
}

.backgorundColor {
  background:
    radial-gradient(800px circle at center 10px, #042402, #031801, #021101, 35%, transparent 51%),
    radial-gradient(800px circle at right center, #0b390f, #08290e, #051606, 36%, transparent 50.4%),
    radial-gradient(1400px circle at 20px bottom, #073601, #033307, #022707, 36%, transparent 51%);
  background-color: #000000;
}

.cardBg {
  background:
    radial-gradient(500px circle at center 90px, #1a2845, #0f1629, #10091b, #10091b, #170a29, #130822, #08040e, 65%, transparent 51%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* Move by half the width of the duplicated content */
  }
}

/* Apply the animation to the container */
.animate-scroll {
  animation: scroll 120s linear infinite;
  /* Adjust duration for speed */
  display: flex;
  width: max-content;
}